header{
    background-color: darkcyan;
    display: flex;

}

/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

.logo{
    width: 40%;
    float: left;
    height: 40%;
    margin-left: 20px;
    display: flex; 
}

#image{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10%;
    width: 15%;
}
.vertical_ul{
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    text-shadow: #222;
    margin-top: 30px;
    justify-content: flex-end;
    padding: 0;
    display: flex;
}



.menu{
    flex-direction: column;
    list-style-type: none;
    margin-top: 30px;
    box-sizing: border-box;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

li {
    display: inline;
    margin: 50px;
    font-weight: bolder;
  
}

header li:nth-child(1) a::before{
    content: "\f015";
    font-family: FontAwesome 5 Free;
    padding-right: 6px;
}

a{
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

.parent{
    display: flex;
    padding: 10px;
    border: black;
}

.left_container{
    width: 80%;
    box-sizing: border-box;
}

.right_container{
    display: flex;
    width: 20%;
    margin-top: 50px;
    margin-right: 20px;
    background-color: aquamarine;
    box-sizing: border-box;
    
}

.img_content{
    display: flex;
    padding: 10px;
    margin: 50px;
    width: 80%;
    /* box-sizing: border-box; */
}


.rr{
    flex-direction: row-reverse;
}

.content{
    /* width: 50%; */
    align-self: flex-start;
    margin: 25px;
}

.main_footer{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,.32);
}

.footer_info{
    text-align: center;
    color: #ffff;
    padding-bottom: 10px;
    float: left;
    font-size: 15px;
    line-height: normal;
    background-color: #222;
}

.footer_bottom{
    display: flex;
    justify-content: space-evenly;
}

.link_para{
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}



