header{
    background-color: darkcyan;
    display: flex;
}

.logo{
    width: 40%;
    float: left;
    height: 40%;
    display: flex; 
}

.vertical_ul{
    display: flex;
    flex-direction: column;
    /* float: left; */
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 10px;
  
}

.parent{
    display: flex;
}

.left_container{
    width: 70%;
}

.right_container{
    width: 30%;
}

.img_content{
    display: flex;
}

.left_img{
    width: 50%;
    
}

.rr{
    flex-direction: row-reverse;
}

.left_content{
    /* width: 50%; */
    align-self: flex-start;
}



